
body{
  font-family: LabGrotesque,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.navbar {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 20px; 
}
.logo {
    text-align: left;
    justify-content: start; 
  }
  
  .logo img {
    width: 130px; 
    height: auto; 
    display: block;
    margin: 0 auto; 
    transform: translateY(-20px);
 }
  

header {
    background-color: rgb(255, 255, 255);
    color: #fff;

  }

nav {
    display: flex;
    text-align: center;
    justify-content: center;
 
  }
  
  nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 20; 
    display: flex; 
    justify-content: center; 
  }

  
  nav li {
    margin: 0 40px; 
  }
  
  nav a {
    font-size: 20px;
    text-decoration: none; 
    color: #767676;
    font-weight: bold; 
  }
  
  nav a:hover {
    color: #04ddb2; 
  }
  button {
    width: 130px;
    height: 55px;
  transform: translateY(-10px);
  display: inline-block;
  padding: 10px 20px;
  background-color: #04ddb2;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;

}
 
.youtube-poster-frame img {
    height: 60%;
    min-width: 60%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
    }
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.youtube-poster-frame {

    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

.tour{
      color: #04ddb2 ;
      font-weight: bold;
  }
.lobe{
  font-size: 40px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
}

.center-div {
  margin: 0 auto;
}
.section1{
  text-align: center;
  justify-content: center;
}
video{
    width: 400px;
    height: auto; 
    display: block; 
    margin: 0 auto; 
    
}

content--center .section-text {
  text-align: center;
  justify-content: center;
}


.section-text {
  font-size: 28px;
  display: block;
  max-width: 600px;
  margin: 0 auto;
}